*{
    margin: 0;
    padding: 0;
}
body{
    background-image:url("../IMG/hr2.jpg");
    background-repeat: repeat;
    background-size: cover;
}
.box{
    width: 540px;
    height: 570px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -270px;
    margin-top: -285px;
    /*添加毛玻璃效果 */
    backdrop-filter: blur(10px);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;

}
div{
    font-size: 20px;
    font-weight: bolder;
    color: rgba(144, 148, 151, 1);
}
div>form{
    text-align: center;
}
.login{
    margin-top: 20px;
    text-align: center;
    height: 130px;
    line-height: 130px;
    font-size: 40px;
    letter-spacing: 45px;
    text-indent: 45px;
    color: white;
}
.name{
    text-align: left;
    margin-left: 77px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 100;
}
.input{
    outline-style: none;
    margin-top: 10px;
    width: 380px;
    height: 55px;
    background: rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}
#text1{
    margin-top: 20px;
    text-align: right;
    margin-right: 76px;
    font-size: 18px;
}
.btn1{
    outline-style: none; 
    margin-top: 20px;
    display: inline;
    width: 190px;
    height: 55px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    letter-spacing: 30px;
    text-indent: 30px;
    background-color: rgba(0, 196, 60, 1);
    opacity: 0.6;
    border-radius: 10px;
    color: white;
}
.btn1:hover{
    opacity: 0.8;
}